<div *ngIf="isParameter() && parcels">
  <div class="row text-light bg-dark">
    <div class="col-md-1">ID</div>
    <div class="col-md-2">Expected delivery time</div>
    <div class="col-md-2">Priority</div>
    <div class="col-md-2">Parcel type</div>
    <div class="col-md-2">Delivery address</div>
    <div class="col-md-2"></div>
  </div>
  <ng-container *ngFor="let parcel of parcels">
    <div class="row text-dark bg-light">
      <div class="col-md-1">{{ parcel.id }}</div>
      <div class="col-md-2">{{ parcel.expectedDeliveryTime }}</div>
      <div class="col-md-2">{{ parcel.priority }}</div>
      <div class="col-md-2">{{ parcel.parcelType.name }}</div>
      <div class="col-md-2">
        {{ addressToString(parcel.destination.address) }}
      </div>

      <div class="col-md-2">
        <input type="checkbox" (click)="assignToList(parcel.id)" />
      </div>
    </div>
  </ng-container>
  <div *ngIf ="parcels.length != 0"><button class="btn btn-success" (click)="assignAllParcel()">Assign</button></div>
</div>
