<div class="container" *ngIf="couriers">
  <div class="row text-light bg-dark">
    <div class="col-md-1">ID</div>
    <div class="col-md-2">Name</div>
    <div class="col-md-2">Surname</div>
    <div class="col-md-2">Phone number</div>
    <div class="col-md-1">Number of parcels</div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
  </div>
  <ng-container *ngFor="let courier of couriers">
    <div class="row text-dark bg-light">
      <div class="col-md-1">{{ courier.id }}</div>
      <div class="col-md-2">{{ courier.name }}</div>
      <div class="col-md-2">{{ courier.surname }}</div>
      <div class="col-md-2">{{ courier.phoneNumber }}</div>
      <div class="col-md-1">{{ courier.assignedParcels.length }}</div>
      <div class="col-md-1"><button (click)="assignParcel()" class="btn btn-secondary">asign parcel</button></div>
      <div class="col-md-1"><button (click)="showParcels()" class="btn btn-secondary">show parcels</button></div>
    </div>
    <div *ngIf = "displayParcelsList">
        <ng-container *ngFor = "let parcel of courier.assignedParcels">
            <div class="row">
                <div class="row text-dark">
                  Parcel info:
                </div>
                <div class="row text-dark">
                  <div class="col">ID:</div>
                  <div class="col">{{ parcel.id }}</div>
                </div>
                <div class="row text-dark">
                  <div class="col">Current state:</div>
                  <div class="col">{{ parcel.currentState }}</div>
                </div>
                <div *ngIf = "!(parcel.currentState === 'AT_SENDER') " class="col text-dark">
                  <div class="col">Destination Address:</div>
                  <div class="col">{{ addressToString(parcel.destination.address) }}</div>
                </div>
                <div *ngIf = "parcel.currentState === 'AT_SENDER' "class="col text-dark">
                  <div class="col">Sender Address:</div>
                  <div class="col">{{ addressToString(parcel.source.address) }}</div>
                </div>
                <div class="col text-dark">
                    <div class="col">Priority:</div>
                    <div class="col">{{ parcel.priority }}</div>
                  </div>
              </div>
        </ng-container>
      </div>
  </ng-container>
</div>
