<h2>Registration</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-group ">
    <label for="userName">Username</label>
      <input
        type="text"
        class="form-control"
        formControlName="userName"
        [ngClass]="{ 'is-invalid': submitted && f.userName.errors }"
      />
        <div class="invalid-feedback" *ngIf="f.userName.errors?.required">Username is required</div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <div>
      <input
        type="password"
        class="form-control"
        formControlName="password"
        [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
      />
        <div class="invalid-feedback" *ngIf="f.password.errors?.required">Password is required</div>
        <div class="invalid-feedback" *ngIf="f.password.errors?.minlength">
          Password must be at least 6 characters
        </div>
    </div>
  </div>
  <div class="form-group ">
    <label for="emailAddress">Email Address</label>
      <input
        type="text"
        class="form-control"
        formControlName="emailAddress"
        [ngClass]="{ 'is-invalid': submitted && f.emailAddress.errors }"
      />
        <div class="invalid-feedback" *ngIf="f.emailAddress.errors?.required">Email address is required</div>
        <div class="invalid-feedback" *ngIf="f.emailAddress.errors?.email">Incorrect email address</div>
  </div>
  <div class="form-group ">
    <label for="phoneNumber">Phone Number</label>
      <input
        type="text"
        class="form-control"
        formControlName="phoneNumber"
        [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }"
      />
        <div class="invalid-feedback" *ngIf="f.phoneNumber.errors?.required">Phone Number is required</div>
  </div>
  <div class="form-group ">
    <label for="companyName">Company Name</label>
      <input
        type="text"
        class="form-control"
        formControlName="companyName"
        [ngClass]="{ 'is-invalid': submitted && f.companyName.errors }"
      />
        <div class="invalid-feedback" *ngIf="f.companyName.errors?.required">Company name is required</div>
  </div>
  <div class="form-group ">
    <label for="nip">NIP</label>
      <input
        type="text"
        class="form-control"
        formControlName="nip"
        [ngClass]="{ 'is-invalid': submitted && f.nip.errors }"
      />
        <div class="invalid-feedback" *ngIf="f.nip.errors?.required">NIP is required</div>
  </div>
  <div class="form-group ">
    <label for="representativeName">Representative Name</label>
      <input
        type="text"
        class="form-control"
        formControlName="representativeName"
        [ngClass]="{ 'is-invalid': submitted && f.representativeName.errors }"
      />
        <div class="invalid-feedback" *ngIf="f.representativeName.errors?.required">Representative Name is required</div>
  </div>
  <div class="form-group ">
    <label for="representativeSurname">Representative Surname</label>
      <input
        type="text"
        class="form-control"
        formControlName="representativeSurname"
        [ngClass]="{ 'is-invalid': submitted && f.representativeSurname.errors }"
      />
        <div class="invalid-feedback" *ngIf="f.representativeSurname.errors?.required">Representative surname is required</div>
  </div>
  <div class="form-group ">
    <label for="representativeEmailAddress">Representative Email</label>
      <input
        type="text"
        class="form-control"
        formControlName="representativeEmailAddress"
        [ngClass]="{ 'is-invalid': submitted && f.representativeEmailAddress.errors }"
      />
        <div class="invalid-feedback" *ngIf="f.representativeEmailAddress.errors?.required">Representative email address is required</div>
  </div>
  <div class="form-group ">
    <label for="representativePhoneNumber">Representative Phone Number</label>
      <input
        type="text"
        class="form-control"
        formControlName="representativePhoneNumber"
        [ngClass]="{ 'is-invalid': submitted && f.representativePhoneNumber.errors }"
      />
        <div class="invalid-feedback" *ngIf="f.representativePhoneNumber.errors?.required">Representative Phone Number is required</div>
  </div>
  <div class="form-group">
    <button
      name="submit"
      type="submit"
      class="btn btn-primary"
    >
      Save
    </button>
    <a routerLink="/" class="btn btn-link">Cancel</a>
  </div>
</form>
