.title{
    text-align: center;
}
.container{
    
    margin-left: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.row{
    padding: 10px 0 10px 0;
}
.title{
    margin: auto;
    padding: 10px 0 10px 0;
}
.title h2{
    width: 100%;
}