<div class="header-container">
  <h2>List of parcels:</h2>
</div>
<div class="container" *ngIf="courier">
  <div class="row text-light bg-dark">
    <div class="col-md-0.5">
      ID
    </div>
    <div class="col-md-1">
      Source address
    </div>
    <div class="col-md-1">
      Parcel Type
    </div>
    <div class="col-md-1">
      Destination address
    </div>
    <div class="col-md-1">
      Current State
    </div>
    <div class="col-md-1">
      Priority
    </div>
    <div class="col-md-1">
      Parcel price
    </div>
    <div class="col-md-1">
      wasPaid
    </div>
    <div class="col-md-1" >Is paid</div>
    <div class="col-md-1" >Magazine</div>
    <div class="col-md"></div>
  </div>
  <ng-container *ngFor="let parcel of courier.assignedParcels">
    <div class="row record bg-light text-dark">
      <div class="col-md-0.5">
        {{ parcel.id }}
      </div>
      <div class="col-md-1">
        {{ addressToString(parcel.source.address) }}
      </div>
      <div class="col-md-1">
        {{ parcel.parcelType.name }}
      </div>
      <div class="col-md-1">
        {{ addressToString(parcel.destination.address) }}
      </div>
      <div class="col-md-1">
        {{ parcel.currentState | titlecase }}
      </div>
      <div class="col-md-1">
        {{ parcel.priority }}
      </div>
      <div class="col-md-1">
        {{parcel.parcelPrice}}
      </div>
      <div class="col-md-1">
        {{parcel.paid}}
      </div>
      <div class="col-md-1" *ngIf = "!(selectedState.get(parcel.id) === 'IN_MAGAZINE') || currentState(parcel.currentState, 'ASSIGNED')">
        <input type="checkbox" name="isPaid" [disabled] ="parcel.paid" (change)="onChangeIsPaid(parcel.id,$event)">
      </div>
      <div *ngIf = "(selectedState.get(parcel.id) === 'IN_MAGAZINE') || currentState(parcel.currentState, 'ASSIGNED')"></div>
      <div
        class="col-md"
        *ngIf="currentState(parcel.currentState, 'ASSIGNED')"
      >
        <button class="btn btn-outline-success" (click)="pickUpParcel(parcel.id, parcel.paid)">Pick up</button>
        
      </div>
      <div class="col-md" *ngIf="currentState(parcel.currentState, 'AT_COURIER')">
        <ng-container *ngIf = "selectedState.get(parcel.id) === 'IN_MAGAZINE'">
          <select *ngFor = "let magazine of magazineList">
            <option value = "magazine.id" (change) = "setMagazineIdForParcel(parcel.id, $event.target.value)">
                {{addressToString(magazine.address)}}
            </option>
          </select>
        </ng-container>
      </div>
      <div class="col-md" *ngIf="currentState(parcel.currentState, 'AT_COURIER')">
          <select *ngIf="parcel.toReturn" (change)= "setNewState(parcel.id, $event.target.value)" >
            <option value="RETURNED">RETURNED</option>
            <option value="'IN_MAGAZINE'">IN_MAGAZINE</option>
          </select>
          <select *ngIf = "!parcel.toReturn"  (change)= "setNewState(parcel.id, $event.target.value)">
            <option value="DELIVERED">DELIVERED</option>
            <option valuer ="IN_MAGAZINE">IN_MAGAZINE</option>
          </select>
          
          <button (click) = "changeState(parcel.id)">&#10004;</button>
      </div>
      </div>
  </ng-container>
</div>
