<h2>List of users:</h2>
<table
  class="table table-striped"
  mat-table
  *ngIf="users | async as users; else noData"
>
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">username</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>
        {{ user.id }}
      </td>
      <td>
        {{ user.username }}
      </td>
      <td *ngIf="user.active; else isNotActive">
        <button (click)="deactiveUser(user)" class="btn btn-outline-danger">Deactive</button>
      </td>
      <ng-template #isNotActive>
        <td><button (click) = "activeUser(user)" class="btn btn-outline-success">Active</button></td>
      </ng-template>
    </tr>
  </tbody>
</table>

<ng-template #noData>
  An unidentified problem occurred, please try again later
</ng-template>
