<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring boot eamil teplate with Thymeleaf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
</head>
<body>
<p>
    <img src="https://i.imgur.com/YvRgPkv.png" height="150" width="326"/>
</p>

<p th:text="${'Hello Dear ' + name + '!'}"></p>
<p>Something new with parcel assigned to your account happened at <span
        th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"></span></p>
<p>
    <span style='font-weight: bold' th:text="${information}"></span>
</p>
<p th:text="${'Your parcel number is ' + parcelId}"></p>
<div th:switch="${showPin}">
    <p th:case="'active'">Here is your PIN to change the courier's arrival:
    <p th:text="${pin}"></p></p>
</div>
<a th:href="@{'http://localhost:4200/check/parcel/' + ${parcelId}}"><b>Click here to track your parcel!</b></a>
<p>
    Thank you for choosing the best courier company, <br/>
    <b>JanuszeX Courier Company</b>
</p>

<p><span style="font-size: xx-small">
    To exercise your rights relating to your Personal Data, or if you have questions regarding our privacy practices, please fill out this form or mail us at:

    JanuszeX Courier Company
    128 Onion St., 2rd Floor
    San Francisco, CA 238432, USA

    If you believe that we have not been able to assist with your complaint or concern, and you are located in the EEA, you have the right to lodge a complaint with the competent supervisory authority.
</span>
</p>
</body>
</html>
