<div class="container" *ngIf="parcel">
  <div class="row text-light bg-dark">
    <div class="col-md-1">
      ID
    </div>
    <div class="col-md-2">
      Expected Courier Arrival Date
    </div>
    <div class="col-md-2">
      Actual Status
    </div>
    <div class="col-md-1">
      Parcel Price
    </div>
    <div class="col-md-2">
      Delivery address
    </div>
    <div class="col-sm">
      Payment
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row record bg-light text-dark">
    <div class="col-md-1">
      {{ parcel.id }}
    </div>
    <div class="col-md-2">
      {{ parcel.expectedCourierArrivalDate }}
    </div>
    <div class="col-md-2">
      {{
        parcel.parcelStatesView[parcel.parcelStatesView.length - 1].stateType
          | titlecase
      }}
    </div>
    <div class="col-md-1">
      {{ parcel.parcelPrice }}
    </div>
    <div class="col-md-2">
      {{addressToString(parcel.deliveryAddress)}}
    </div>
    <div class="col-sm" *ngIf="parcel.paid === false">
      <a (click)="paypalPayment(parcel.id)" role="button" style="text-transform:none">
        <img width="73%" style="margin-bottom:3px; margin-right:5px" alt="PayPal" src="assets/paypal-paynow-button.png" />
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      </a>
    </div>
    <div class="col-sm" *ngIf="parcel.paid === true">
      Paid
    </div>
    <div class="col-md-2">
      <button
        [disabled]="!parcel.moveable"
        (click)="showNewDateForm()"
        class="btn btn-secondary"
      >
        Change date
      </button>
      <br><br>
      <button (click)="showMoreInfo()" class="btn btn-secondary">
        Show more info
      </button>
    </div>
  </div>
  <div class="row" *ngIf="changeDate">
    <div class="container">
      <div class="row">
        <label for="date">New Date:</label>
        <input
          type="date"
          id="date"
          datetime="yyyy-MM-dd"
          value="magazine.expectedCourierArrivalDate"
          (input)="updateDate($event)"
        />
      </div>
      <div class="row">
        <label for="pin">PIN:</label>
        <input type="password" id="pin" (input)="updatePin($event)" />
      </div>
      <div class="row">
        <button class="btn btn-success" (click)="changeDeliveryDate()">
          Change
        </button>
        <button class="btn btn-danger" (click)="cancel()">Abort</button>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="infoAboutParcel">
    <div class="subtable">
      <div class="row" style="display:flex; justify-content: space-between;">
        <div class="col">
          <div
            class="row align-self-start"
            style="border-right: solid 2px darkblue"
          >
            <div class="row text-dark">
              Parcel Info:
            </div>
            <div class="row text-dark">
              <div class="col">Type:</div>
              <div class="col">{{ parcel.parcelType.name }}</div>
            </div>
            <div class="row text-dark">
              <div class="col">Is paid</div>
              <div class="col">{{ parcel.paid }}</div>
            </div>
            <div class="row text-dark">
              <div class="col">Parcel Fee:</div>
              <div class="col">{{ parcel.parcelFee }}</div>
            </div>
            <div class="row text-dark">
              <div class="col">Is priority:</div>
              <div class="col">{{ parcel.priority }}</div>
            </div>
          </div>
          <div class="row">
            <div class="row text-dark">
              Receiver Info:
            </div>
            <div class="row text-dark">
              <div class="col">Name:</div>
              <div class="col">{{ parcel.receiverInfoView.name }}</div>
            </div>
            <div class="row text-dark">
              <div class="col">Surname:</div>
              <div class="col">{{ parcel.receiverInfoView.surname }}</div>
            </div>
            <div class="row text-dark">
              <div class="col">Phone Number:</div>
              <div class="col">{{ parcel.receiverInfoView.phoneNumber }}</div>
            </div>
            <div class="row text-dark">
              <div class="col">Email Address:</div>
              <div class="col">{{ parcel.receiverInfoView.emailAddress }}</div>
            </div>
          </div>
        </div>
        <div class="row">Previous states:</div>
        <div
          class="row w-100 align-self-center"
          *ngFor="let state of parcel.parcelStatesView"
          style="display:flex; justify-content: center;"
        >
          <div class="col w-50 d-flex justify-content-end">
            {{ state.stateType }}
          </div>
          <div class="col w-50 d-flex justify-content-start">
            {{ state.changeTime | date: "short" }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf = "!id">
  <div class="container" *ngIf="parcel">
    <div class="row text-light bg-dark">
      <div class="col-md-1">
        ID
      </div>
      <div class="col-md-3">
        Expected Courier Arrival Date
      </div>
      <div class="col-md-2">
        Actual Status
      </div>
      <div class="col-md-2">
        Parcel Price
      </div>
    </div>
    <div class="row record bg-light text-dark">
      <div class="col-md-1">
        {{ parcel.id }}
      </div>
      <div class="col-md-3">
        {{ parcel.expectedCourierArrivalDate }}
      </div>
      <div class="col-md-2">
        {{
          parcel.parcelStatesView[parcel.parcelStatesView.length - 1].stateType
            | titlecase
        }}
      </div>
      <div class="col-md-2">
        {{ parcel.parcelFee }}
      </div>
    </div>
</div>
